<a href="https://colab.research.google.com/github/lburenkov/Prediction_sales/blob/main/Load_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd 
filename = '/content/bostonHousing1978.csv'

In [4]:
df = pd.read_csv(filename)
df.head()

      RM  LSTAT  PTRATIO  target
0  6.575   4.98     15.3    24.0
1  6.421   9.14     17.8    21.6
2  7.185   4.03     17.8    34.7
3  6.998   2.94     18.7    33.4
4  7.147   5.33     18.7    36.2

In [5]:
import pandas as pd
filename = '/content/RailsToTrails_National Count Data_week (1).xlsx'

In [6]:
filename = '/content/RailsToTrails_National Count Data_week (1).xlsx'
df_bike = pd.read_excel(filename)
df_bike.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Week 1,2020-12-30,167679.0,183546.0,NaN,0.094627,1.094627,NaN,NaN,NaN
1,Week 2,2020-01-06,82340.0,97140.0,NaN,0.179743,117.974253,NaN,NaN,NaN
2,Week 3,2020-01-13,62315.0,75782.0,NaN,0.216112,121.611169,NaN,NaN,NaN
3,Week 4,2020-01-20,75801.0,83809.0,NaN,0.105645,110.564504,NaN,NaN,NaN
4,Week 5,2020-01-27,75841.0,94738.0,NaN,0.249166,124.916602,NaN,NaN,NaN

In [7]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/mGalarnyk/Tutorial_Data/master/Pandas/CalIt2.data')

In [8]:
df = pd.read_csv('https://raw.githubusercontent.com/mGalarnyk/Tutorial_Data/master/Pandas/CalIt2.data')
df.head()

   7  07/24/05  00:00:00  0
0  9  07/24/05  00:00:00  0
1  7  07/24/05  00:30:00  1
2  9  07/24/05  00:30:00  0
3  7  07/24/05  01:00:00  0
4  9  07/24/05  01:00:00  0

In [11]:
df = pd.read_csv('https://raw.githubusercontent.com/mGalarnyk/Tutorial_Data/master/Pandas/CalIt2.data', header =None)
df.head()

   0         1         2  3
0  7  07/24/05  00:00:00  0
1  9  07/24/05  00:00:00  0
2  7  07/24/05  00:30:00  1
3  9  07/24/05  00:30:00  0
4  7  07/24/05  01:00:00  0

In [12]:
import pandas as pd
filename = '/content/sales_predictions.csv'

In [13]:
df = pd.read_csv(filename)
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052